.body {
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    margin-bottom: 8px;
    overflow: hidden;
    padding-right: 65px;
    padding-left: 50px;
}

.title {
    margin-bottom: 52px;
    max-width: 466px;
    max-height: 22px;
    margin-top: 16px;
}

.price {
    display: flex;
    align-items: center;
    padding-right: 33px;
}

.titleGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.priceGroup {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.basket {
    width: 52px;
    height: 52px;
    display: flex;
    cursor: pointer;
}

